@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

*{
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
}

.marquee-mask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 32%,
    black 88%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 32%,
    black 88%,
    transparent 100%
  );
}
